@font-face {
    font-family: "exo-thin";
    src: url("fonts/Exo-Thin.ttf");
}

@font-face {
    font-family: "exo-regular";
    src: url("fonts/Exo-Regular.ttf");
}

body {
    font-family: "exo-regular";
    margin: 0;
}