.container-fluid {
    background-color: #000430;
    padding: 20px 100px;
    height: 100px;
    font-size: 20px !important;
}

a:hover {
    color: inherit !important;
    color: white !important;
    font-weight: 600;
}

.brand-logo:hover {
    color: inherit !important;
    font-weight: 400;
}

nav ul a {
    font-size: 20px !important;
}